.button {
  $box-shadow: 0 2px 4px 0 rgba(103, 103, 103, 0.08);
  font-family: $font-normal;
  box-shadow: none;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 15px 30px;

  &__classic {
    font-weight: 700;
    font-size: 16px;

    &--active {

    }

    &--inactive {

    }
  }

  &__sound {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-20%, -20%);
    background-color: grey;
    border-radius: 100%;
    width: 100px;
    height: 100px;

    &:before {
      content: '';
      position: absolute;
      width: 20%;
      left: 0;
      top: 0;
      background-color: #fafafa;
      height: 100%;
    }

    & > div {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-3px, -7px);
      display: inline-block;

      &:before {
        content: '';
        position: absolute;
        width: 8px;
        background-color: grey;
        height: 100%;
        right: -10px;
        top: 0;
        transition: 0.3s;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 30%;
        width: 2px;
        height: 0px;
        background-color: black;
        transition: 0.3s;
        transform-origin: top right;
        transform: rotate(30deg);
      }
    }

    &--soundOff {

      & > div {
        &:before {
          right: 0;
        }

        &:after {
          height: 25px;
        }
      }
    }

    img {
      height: 13px;
      width: 19px;
    }
  }

  &__choise {
    padding: 12px 50px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: $box-shadow;
    border: 1px solid #F7F7F7;

    & > span:first-of-type {
      font-weight: 700;
      padding-right: 40px;
      font-size: 12px;
    }

    & > span:last-of-type {
      font-weight: 500;
      position: relative;
      font-size: 16px;
      padding-left: 8px;

      &:before {
        content: '';
        width: 12px;
        height: 12px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 100%;
        border: 1px solid grey;
        position: absolute;
        left: -15px;
        border-radius: 100%;
      }

      &:after {
        content: '';
        opacity: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        left: -12px;
        background-color: grey;
        transition: 0.2s;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--selected {
      border: 1px solid grey;
      box-shadow: none;

      & > span:last-of-type {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}