.chapitres header,
.exercices header {
    position: relative;
    padding: 0 45px 0;
    background: $white;
    box-shadow: 0 2px 4px 0 rgba(71, 69, 69, 0.08);
    z-index: 2;
    
    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .equipe {
      display: flex;
      justify-content: flex-end;

      .contentEquipe {
        height: 54px;
        display: flex;
        align-items: center;
        border-left: 1px solid #E8E8E8;
        padding-left: 20px;
        
      }

      img {
        padding-right: 12px;
        height: 33px;
        whidth: 33px;
      }
    }
  }