.exercice {
  display: flex;
  background: $bg;
  height: 100%;

  @keyframes apparitionY {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .chapitre {
    width: 50%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      background-image: url('../images/path-bg.png');
      width: 90px;
      height: 72px;
      right: -20px;
      bottom: 126px;
    }

    &-end {
      &:after {
        bottom: 226px;
      }
    }

    .title {
      opacity: 0;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 42px;
      margin-left: 42px;
      animation: apparition 1.2s forwards;
    }

    .subtitle {
      opacity: 0;
      font-size: 21px;
      font-weight: 300;
      margin-left: 42px;
      animation: apparition 1.2s forwards 0.2s;
    }

    @keyframes apparition {
      0% {
        opacity: 0;
        transform: translateX(-10px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .arbre {
      position: absolute;
      bottom: 0;
      transform: translateX(-5px) scale(0.98);
      animation: 1s timeToArbre forwards;
      @keyframes timeToArbre {
        100% {
          transform: translateX(0) scale(1);
        }
      }
    }

    .arbreEntier {
      position: absolute;
      bottom: 50px;
      left: 57px;
    }
  }

  .containExercice {
    width: 50%;
    position: relative;
    background-color: $white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    .contentExercice {
      max-width: 280px;
      margin: 56px auto 0;

      &__list {
        margin-top: 30px;
        .button__choise {
          width: 100%;
        }
        @for $j from 1 through 3 {
          li:nth-child(#{$j}) {
            animation-delay: $j * 500ms + 1000ms
          }
        }
        li {
          opacity: 0;
          margin-bottom: 18px;
          animation-name: apparitionY;
          animation-fill-mode: forwards;
          animation-duration: 1s;
        }
      }

      .consigne {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        opacity: 0;
        animation: 1s apparitionY forwards;
      }
      .color {
        display: block;
        margin: 24px auto 31px;
      }
      .badge__content {
        display: none;
        p {
          font-family: $font-normal;
          font-weight: 500;
          margin-bottom: 82px;
        }
        &__image {
          display: flex;
          justify-content: center;
          img {
            animation: 1.5s infinite bump;
            @keyframes bump {
              0% {
                transform: scale(0.95);
              }
              50% {
                transform: scale(1.05);
              }
              100% {
                transform: scale(0.95);
              }
            }
          }
        }
      }
    }
  }
  .contentReponse {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    border-top: 1px dashed grey;
    margin: 35px 42px 0;
    & > article {
      width: 33%;
    }
  }
  .answerReponse {
    &__validate {
      background-color: $green-light;
    }
    &__cross {
      background-color: $red;
    }
    & > div {
      border-radius: 50%;
      display: none;
    }
    & > div.active {
      display: flex;
      justify-content: center;
      align-items: center;
      animation-name: shapeGrow;
      animation-fill-mode: forwards;
      animation-duration: 0.4s;
      @keyframes shapeGrow {
        0% {
          width: 0;
          height: 0;
        }
        100% {
          width: 36px;
          height: 36px;
        }
      }
      img {
        animation-name: opacity;
        animation-fill-mode: forwards;
        transition-delay: 0.3s;
        animation-duration: 0.4s;
        @keyframes opacity {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
    &__good,
    &__wrong {
      display: none;
    }
    &__wrong {
      span:first-child {
        font-weight: 700;
      }
    }
  }
}