.exercice {
  display: flex;
  background: $bg;
  height: 100%;

  .chapitre {
    width: 50%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      background-image: url('../images/path-bg.png');
      width: 90px;
      height: 72px;
      right: -20px;
      bottom: 126px;
    }

    &-end {
      &:after {
        bottom: 226px;
      }
    }

    .title {
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;
      margin-top: 42px;
      margin-left: 42px;
    }

    .subtitle {
      font-size: 21px;
      font-weight: 300;
      margin-left: 42px;
    }

    .arbre {
      position: absolute;
      bottom: 0;
    }  

    .arbreEntier{
      position: absolute;
      bottom: 50px;
      left: 57px;
    }
  }

  .containExercice {
    width: 50%;
    position: relative;
    background-color: $white;
    border-bottom-left-radius: 50px;
    overflow: hidden;

    .contentExercice {
      max-width: 280px;
      margin: 56px auto 0;

      .sound {
        position: absolute;
        background: #D8D8D8;
        width: 93px;
        height: 93px;
        border-radius: 50px;
        top: -20px;
        left: -20px;

        &:before {
          content:'';
          position:absolute;
          background-image: url('../images/sound.svg');
          background-repeat: no-repeat;
          width: 20px;
          height: 15px;
          right: 30px;
          bottom: 30px;
        }
      }
      
      .consigne {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
      }

      .color {
        display: block;
        margin: 24px auto 31px;
      }
    }
  }

  .contentReponse {
    margin-right: 50px;
  }

}