@font-face {
    font-family: 'apoka';
    src: url('../font/apoka/Apoka-Black.eot');
    src: url('../font/apoka/Apoka-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/apoka/Apoka-Black.woff2') format('woff2'),
        url('../font/apoka/Apoka-Black.woff') format('woff'),
        url('../font/apoka/Apoka-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'apoka';
    src: url('../font/apoka/Apoka-Regular.eot');
    src: url('../font/apoka/Apoka-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/apoka/Apoka-Regular.woff2') format('woff2'),
        url('../font/apoka/Apoka-Regular.woff') format('woff'),
        url('../font/apoka/Apoka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apoka';
    src: url('../font/apoka/Apoka-Medium.eot');
    src: url('../font/apoka/Apoka-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/apoka/Apoka-Medium.woff2') format('woff2'),
        url('../font/apoka/Apoka-Medium.woff') format('woff'),
        url('../font/apoka/Apoka-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'apoka';
    src: url('../font/apoka/Apoka-Light.eot');
    src: url('../font/apoka/Apoka-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/apoka/Apoka-Light.woff2') format('woff2'),
        url('../font/apoka/Apoka-Light.woff') format('woff'),
        url('../font/apoka/Apoka-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'apoka';
    src: url('../font/apoka/Apoka-Bold.eot');
    src: url('../font/apoka/Apoka-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/apoka/Apoka-Bold.woff2') format('woff2'),
        url('../font/apoka/Apoka-Bold.woff') format('woff'),
        url('../font/apoka/Apoka-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'apoka';
    src: url('../font/apoka/Apoka-Thin.eot');
    src: url('../font/apoka/Apoka-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/apoka/Apoka-Thin.woff2') format('woff2'),
        url('../font/apoka/Apoka-Thin.woff') format('woff'),
        url('../font/apoka/Apoka-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

