/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/* fonts */
$open: 'openSans', arial, sans-serif;

/* colors */
$black: #000000;
$white: #fff;
$bg: #FAFAFA;