/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/* fonts */
$apoka: 'apoka', arial, sans-serif;

/* colors */
$black: #000000;
$white: #fff;
