/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/* fonts */
$open: 'openSans', 'Open Sans', sans-serif;
$font-normal : $open;

/* colors */
$black: #000000;
$white: #fff;
$bg: #FAFCFF;
$purple : #1b0042;
$blue-light : #01B0FF;
$green-light : #00B248;
$red : #FF5722;
